{% assign dogs = site.data.dog_data.dogs %}
{% if dogs %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-smile fa-stack-1x fa-inverse"></i>
    </span>
    {{ dogs.title }}
  </h2>

  {% if dogs.intro %}
  <div class="intro">
      <p>{{ dogs.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
  <div class="pa-gallery-player-widget item" style="width:100%; height:480px; display:none;"
    data-link="https://photos.app.goo.gl/C8fWybc8s75VDSCZ9"
    data-title="The Best of Matcha and Mango"
    data-description="110 new photos added to shared album">
    <object data="https://lh3.googleusercontent.com/LpG5kJT9c7eDx5AauvNuT3I3YxXO3oB7_8abW_VHmv8JzFuTZNlzdqf5GJxn3SpC_lrEB6i8mTWt_kDc9m3GeaA-7GMWgQlnNPtzy7Ce-D1rNvgsj5hVXWOg_arlRHtqCaFVMSucIHU=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/1Ji1bu6127aSAIrhAyK7x6CQdcc_8kZ4081w38k_uSURwyLoNQK9jW4hlRm6N-U5_8bT_BCHcOWsLiesCCqg8ureUejxd9Q16leVKkdWaRgtrRg4VLbXDOYdfh-FI_JG79sav__QUtA=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/Poyqob4TcvT-Be7OSOz4XhfZOWRR2g9ffAXNpAMad0pTXuTnMCHh_pNmPd5XpfrSjQggTHWbYqirrc6zO0WdfK9joukcxsZEb9-0ASxZiqgtpzyz3aGyiEhflXxH7M6G6M6BokJe9ps=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/DLwPUYZkzoOcpS7J5rSY9McTSL5gpwQKWc7sIPlgOO4YVd4GdK5V0JmvpeUT4UXXI5ZAfDLePUdEk1Pt-x3wq-tbREjfDgzox62MUVwYZJPnfjhHDrJ-z4TrPvqGicYp6gp5u0AFLD0=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/VotRr3MFlHv1aO4u2-VYU06V0r5-QzRNEj66ujeptX2uh3_avZ-ylKqs5nl6YQlqWV-J7SsZhBbgfmWVfHHxmeSb57s17xXN8oLkZg9XXFDdme4BnXW9GB3KlhyvZ0J80KRJcPTrSiE=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/ysxwdlKyuHsHx7c4mWnmSh-HbUqxr4_3dGNqL5M9QaQ5I5Q_RSKKWueD8TcnSJk-PU78m5CoP794gApwWSa3PTBm4EXRNEacHdXSftI_DOTf4RqAYQKgCK62YGfFKXxVamxpOG3Wh_M=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/AEg2WQN2LHz9QOMGy7kAox7B2ph27fZEUJOR7Je3tPMQ_AOZLhkynqF8wXxTwk1oc1_qVugkaD64krGlAmbErO7LgZGpJHX0Go42lNGKyBx01Yl-sHkq5NgUYL7TKvmLhwAoPowXbUw=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/dIWdu52SdpSlDZzE8h0dQyi_K_k2FNBz9NNOqEhgduFJV6OatKR9JkLoo-AxJa9cUY-eLbtSxB4wzhnMIiIcSuG2KEGP-9I54wdmL7F-vKtjCmFdpDx10pfAPwTpMFEqfHLU40oqS1k=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/VA4sDfyiYXP5gI_ZjJ9TnnIKPD-Zyi_NY7VDMG7P7wGXNqsElfYClTMZw_prRty1AoBJX8hWo0fy1amTebX_U-JgAUJdI_bd4g0WL5BojHdgmhNTv4MaNCd0b93BAI3Ocwdd9JK3XWI=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/mlfH7hZyNGcLrHjR121rCxIpP362NHheuWzJ6Gvoto_ierjDQNfi0Tkcd4VuiWyqctpfMEYTMM22VLGdSKpGT4hYZMaiZn0gpjHMKylaF3PLOtTn4bgORBo7cCUxnizO2vaXFo477nk=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/GAJYU24vMJjVTKJp--cvBBkzI51J0-OjD0R1cFq4K3KrIv0vyYKZC59dCW-JIb0mlYy1Zburgn4LTVsQDcBZCmA-_8o5br9RznIpC6epcW7ryRDqsq7QwlKkj-0G-qJmMvcDfmhBBvc=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/lV2K6AFdKDGzu7zkNJyY_bcywEcQpHBx5qUOdlR9jJPkRc-xE6jkIVxVOKHH4X46IQ3kX8UhvelFPZtdVHhn34NUrTWXSageRq-XJhxyRiq88a_ztbDD2kjcqIdOjyqPeDWyxWqrlrs=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/3rgS1puS9k8kSFd5r5zhXWwPvjgCBmkeO-OLLmT0LQ1jqGs5BNNjvDRUuXUmwq0LXfk_2QoNuhEOwYZK8MNFQN3asssF1RAE9C7TxvbYwSqvGLS9nm69Bs07Jh1Sw2Lp1zn591lBfHY=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/e041zoM6-COI4K8uDvLfQCyMkx2NNe38jp-7l6cvnXhBkCDLo3vxRGIL4zi6UqjULPHSgt1Xf8lLxdcs5-0TgcejRTXdWqlchJQeZ4rTwnz0ze3bSmNBPdRmwoZJUKQL7nt4kOC4WoA=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/eftiSajCqZKdHHvBl9ZY1TYOY2YC05fpjclIrSUEppCRdcxMhLvrWYQDQtbs1s6H9oXl-uQOSJ54R6--dXnQgxaCG09oT74oF87B7mOPTDcC9ObRmaqq1Lo4U16TnhtN0rX57QswkQY=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/LpgMZCLF7avJ2r2yo1wXivG9En1V4GbrczY5EFpdiAS0K5l-FTjXom3nBj3WdQfab3NMr53ZOugeJCQx1ImdXdrJ5a5mtdGXN0wVd8C17TINVXT-z3lzvmUHqSCd9JsBIHoSkFJTckY=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/jC4eA5U8gZXJtbfN_jW8urNaqvOU1FeoGTr8_F6UgldLrlnTQTXojuSoiW48MQI5qaXLVe5lrfJvug2CUhJXyrlZwyd8clWbYkhDIO9iI69hzxXEnBaotIsRLmHf9-klPbFQKSs7Lz0=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/FI1qD5imUaJ2UddA202CcM2DBMXM2dYfhXa-gpUPhm5K-WI0qsctstRp0X2ysccvgGkAKhM2ocsxgGCCXmh-2OD6MZ0oGcWiiHzdWCkYz3fccZVMr0wUR1BZiHIHz0711TheUf1Wz-Y=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/RHKdZejoVUi-KP11eZwJE611lt4LoXi87wwK3NVVOrUa_E9DcYtRv1gPsgBDABx05UcnAhVVkaXD3X78N6seiyRiQ4UCneeJnj-XCXPHP4YpgJuITymKF3pAbaLJyDqiN8H9R9KO4T0=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/_BN_VPpQKYbu6P0a_dVpRbVrE5kOnDgNdYwNioBPfiWIiUnK6d1adu-DqtDm7a2-3ydl93Q7-CyGyHUxmI8pmJcnvpT5nubPOz-6BjIWsiOwp3qQamw5mQ6-UM3YYi9W2joRmr2HeNY=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/aUUwJi6DArRP3d4DrJ1h2TXd8aQQw3dIysIWU2OHd-K7t8g8OF2MFhi1ubyY67_Uw7w_FsSuo6YvEtPewd5GepZdKenptpUV11w87yN498Ra9xBp-9Snpud93Vr2Oy_HwKlRt9tj2Xc=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/MFG5olI2BlLhhLEUdrv-fjvnl6m3q0DuNE7actYdR5VM_UCt148odJSgXMNM28rQkFICK3TmeXQewaoDHTpFckRvknVFWTwqkRopDdXv4u6Y3jniuyXZEHv_SMEzZ24M4821WqQhMIw=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/yrXU3V7Lrbw_ovTc_1a52GlBlPsk07jntMzP6y-r228o4yl-aXTxtMqUWcFEzboBty9eKxFVWsrboyPz2wFmUFGy6UmsDD_pqgzaa5TCtxwxK3s1kXQwm2eKj_Sw3vsF0kc_2wwEL9g=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/3Kxsso5u87BZVG_HMur4Tn3Fif4Erszn3f3VT1v02CK0XVZddhlLzpgdjCnyO67PLvMlVkYvSB8ORUMs0qCLz1SbtMc9D8bIscfpyPGSceYhMnIgaKgB2RPrVvZRgXQ390yGc58wxkg=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/6NcwZ3V_dx15nUJXnfEam6S0ZvJzyetzfMqEVnSZ0iwq25RfDMG-btb_VTyRYPxAIVuq1TFlEHcxzb5Eq8xo-Y3jO0_U0jzRd_lrUXFNTri8zTj5YK2AfQCMs3y_2qNYfIC7ncBCR6c=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/98DYLuIpbLpCN8uhdOsfkaZPu0s2o9TwLUtWTPIcH0Sj4wyFuaHHqHapAx7VGPKqSsR3qFbBgvP2yoZiOo5D8lw2q0r5oBsKzItUMEgFgwg36ybKIdSdlT8nnD6P8OrMwglTI25lo8U=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/DvLwPuzOYOnrl0mOc881jhLG2n5g6M2n-8oQOKRsWerwYyskg61kcEsHbS_G7GxdFhwI5dP1hekMn4HeyOQ5t3J9wYwFpkGC0vyhzDtJoqcU8toZzagm7V3XBqfhZ-lhXnbX5DVtmTw=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/sFhVanCvIvTmuFGLOvd3OWZzTbUqRthhYvULGuliCd9hvZa5BjoJkkz15MgSrzPFbyTzs-KHysEDWDYqZ-4VF4WAK5GB1QZXJfTAfTlAFL8Zaj-4CqupnDr0U3pnh9tMLNxcuB0be1Y=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/VSaGmuwcIHuCi5OH0O0InYt_4_sfg5mFv_DbxdGB8oovWheXRg9XsRe3wWR-kRWjorkB8FghGb-a4odCdcw95xAt6zTu3Fl9b0b1kEuJNKUWJKfi8jwBHNCcyh6pmMdy6VnGdRs1HSU=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/qYxO_3oLJtt-1S7SXfNnbW7vLuJWDEppoXK6FjDCIprtzJYxLJylgxPLRO1jZujSs80FDCnXuGSe7vbb_H61t479DOjnSFAp1xlymICpcEGpWuvY2l3yEfhjUYmtYQBZkcJeBdWzJeQ=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/x-S6BYjpmAQyZdWmyHDjYaTAtyGINIQbw-IVtgTaKZy6n6ZFoEStidkjkRhWkH3Xya93o7kfF2Hh7icOLW4Un5eag6d3Agbo6PNHFL0AP5MzybWVDnGLfAxraCdARUJ8ktIO3IAFeUw=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/XqsQRc_CNo-O3D9ytdtInS9ELKRMmgkvVaEJpACzXm4WHIRYbLJUlYH3V0Zg3p5fcOJPAF9-rOGnmLJ9LMAk0aDPIS0kfjnK8Ch5YjivBiAWlys7bxzRLBF3jDQRIWiq-t1aGX0pfy4=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/_gTTSfB4-5E2rMjj2JtCcUVBeSjTIup62drd0SczA0N_vmlsOCf3c1HOAmVnkPMAI53UnBkPgX2wo9adFzMe_x85Gz2yfebLGKDbSYMofY0bo1QBTowir6bEtByag5lJzUbknMusyO4=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/YeOvL8coMB2PZpjyS-5-6vrPa9Qy7IC26W9VRmW4vx13so6dK4NMMkw5Oey7WKpekJqQKUBUlQmP62870NvI_yxbiN83vV_D0t3oguPXSMZmbru6DcnrvIwaBIRHDt0WmLqXq5E1Acs=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/Fimdi2tZROksh2IsXCXaE9b16MCS7-QNKeLnJUP2DotLkGmVKW7jNwsdGZnSonwM5U7IfbHfDKG1l-VCGJ4lnCGs7YS6TrLdqz5C9BEH7nCAqDVuZwRs6apd1lfY1Iyz0fg5E1ROVm0=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/_9DJjE4-vFSqlto5YlCsvwk3zdiaucIwTCl4Eui2ru_2AWDOMBjVmLywVa4e8DOdrzRWagc_-sA_oxFYYrYkJAS6RAVYjBqmtbF7V4U_tHlSnGuct59H5DWrb3xvzumcPD3pA6Cm7fA=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/RNRBcDKh4Ih3cfn9oCZL4I2l2h3YMT4OgLoUUJuTaRmZgqEGH9-iLjGirXMNr9pLYy1YjHk6I4cNDOYO1QWskPtpGksG2GHK9W-hSkQ2j2zpdYfVCvBLjyATjaLE-6omOo60rogo-Go=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/kinC07qqBwT_A-iRpdK95ruAqBu7GxGfyK7ofGBVDUzUkZdi6V95kBrwUwG_08FTxTg5b8CcLCfgdLVJPusPqyOQFDzPxwZK4Jnpzav1iuai4mndOoiMLi8iiEIzsv-UcYLYMP1Nfhk=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/PO3kUFYHS6AIWUIdW1D_d71zf89jIqWzlm4AVaT6HjroIGz2eV7s91QUiFlSPjj7MQ-wlCRHceGbPlNs5eNlHXh8t3b9Wo9utpwi1v0QW4BBpWnYGVqkawLt4N4zuKippR_o6VzSzu8=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/s8m_OdwA_m4f2Wl5dXYPY9yc8-hSIPZrp46K0UbAGoD_kGTrYXeZ2nAh1wY8H6lSmOU6N21f4594U1K8kNFZjoaiVLAk1PZSm_EnDKvgxaKqP1kDKUhYPOLLUkSn29dQrLv9dUBZksA=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/xOUm27tbAJb58K4eeRsDPZDE1yRHygbQwXXoCdNsK32sgWkBpPzhJ3plkxYunljeayg8vLTIgInv-JFXeg0NJ-UPMjZB5GJ64OszBSzJb5mMqx5uWe5TGTAAoHHO5G-UpW1uAxYJlN0=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/O5T3mB1YJLPDRlxlb8cP1FAnvYbFK0i6WU-gaUcYNStXpXm_xRzkeSpnOlEuTqwXLjkkZwac3kQRVaZYs6ylOeDU8_W9IqRX8NG-6NCPg3_C079SLec2Ruyw2xHoBlA9sQhqP72sk80=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/nO7zhvxskNdHwtqOGSJaIVA-GvQMJeZ_ZZIRTMyFLu--kUaB5yIe2RZBKCStoy68Frb-fxFkQuQm2DwuMGUaH1UFH76V7-QLnT1DjXgCmDUVBqySCAYRmAwdKYF_bSuE6hCbZl1syBU=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/_iItmul4Uh3OY9FoIsq6EOLNhXRpvM-VXSoQv9iKQsiZiqirxcZYAOre3RTwUNL7xal28RV0oKsx2747s5MWnSHmibDpP3PLeJBE9hYzl4vFTa4ch2-K1vQns3uviUTHF-9uSF0PNI4=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/teVDfZEpv9nqmOlbvBbmREDyiuZcGkh-mMwtKNT6zeln856eaIr5TdQcSLVH1WBk3Q4jGSqb_0UVque_FdiyMza4zq4s43mVOwkmMtJZs6hE-bbUrRMIXRxzVrmbAd1b4EipN50yTDo=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/3Od4heWnNfkwQXJJt3u5NdDiWZzqt-4YfCHjkHDWKggIKyx0mXlBoPJPDMEoxe05gcsf1JIkgso7BNZeQMkoL77FtzCRw7ojBu8U9A8C8u4ARSxJhsD48YgC0rlrdnokz136RQrlcD4=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/SRAtkQBaMNmdJ7L3cco5HJTGS9xiYXfpT3vovkXmqUiy3Tsilldo81N9ZmAhqiMuxeHsuYH-QMVdre1Qz3bChWM6E5ZvMOXJKNc63mjc-yjbyHColD0eibVl9lcCA-b0NrajKLkxsGM=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/pQfOtOSMAbEvaoWza7mnqxA-Dc-GrEmdUs3tOklXSavt7WnmzBvt-RBa1F9EYkhjjcaDfUqkS5ECatLK9UXZ1E-PLDI_luWZRKhIMvXZcSWAf12OcpKnufle4PKMGtnAxilk_O7gAjQ=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/7SiWliERoWGCi05LBUCzl7nMPzm79qWiayNBp8E-6PJPxrWgfLOQPvC7WdvTNzQ2ioLdNLCuCQyqvs-kDoc9yPCg7VGxEQqwzvB5RQruq7YXDnhuDp2ulHTxgAhxqDuAoalVUJQOKQg=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/xwwPGEycKWi2maK8vNElAa_1d5qWEi-tcv6Jv2YxJDAFf5i-Of-anECKsJ-R3bFfPx0e_GGIHie62qe-iBHkHsqOZHCUToWJ8Rzhuqli0GGPhiw_TnWQG5TCnu8FaKZ8WUjvf90fPRc=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/riB6BxOp-ZUfKO22XAhk5d6Q14cDMPXC7RDso9Q3iwxe0ZNTJSSAsgGPDxDySUjvtMhQYIaSO5nPuO43FQXJO2ZcjNUY4tcvF9xxj4Vyg9Am4c6h4Pnziu5KsXQWa_y3_g80TEjzJI0=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/JizH8O16MwRjnEGclv-jw4IZsPM7uGaRCxo-U09MNhyYAaCPp7g6uIMAOCPKcCXMyklGuomQiWVjk68pItTqbIFWa2bd3U81_dGpjNmM6r1SxtcR6bSn2r8XwOJA7ptb24wZ5GhGF9E=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/VnrV6IcncpuZXJeehM6-YQ-2uRvoHFLCwcln_f9voxahrIG_AHuclTf0vq4zL2XEZ-zQ3CE9aBwtgRULKRAMDUYVuCqiq44_fX8muc49jUTl_wVhY2vG9MD3MRzwj_KVhLRsge9M3rk=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/wrINz7PNh_8beRHbBYt0PmE7AHsZtibZc484fYuvPuKCMP0A9o7sACJx1zmCsV7IPXCYvZmQ6tLyMAsWHhl1VU05x96LJlFMYdgkcO1zLGg6bTvEUVf08PhcvZSs8JefHpzKwTjblPo=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/OISZzEBGd0UrmtQC8GtMkyKL_naqxC8DxzXjVpoPQFxSDuTe50zpRrYy7kNXVvn9Yq_Pvo0K6heFhJRE3wLu-h088cDH8Ajw7IjH6TnHyMw8EYfXsYzIEVYesTvnUSzNhbnCR0py_Nc=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/AithYwGvUTy2utPDIhYXsKeYTKX3sdtRQvyolnYA1Oy5EAU1ifcWqEIlmyhv6l1LsQStLf2InCfS-w8RnwXkvkTF37vcKluVNHf8G1R4eIix7KYJRwYbX6e_820wEGMuCs4lJpuaUNI=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/rXBc_0bUeOFsYFxKQOwMXywZMtahda9XmXasfuSXACfrxsk0mFlkHyaTjmldGSOGBi8MtpV3cSMkID2mhEQLHbFGR2gv78BmfhK2gVRIUpKET9wjGcedsBGmTWQHT4n7Ald6TAeRHS8=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/xmcUfcZkXtnfevZI_YfYpKZQFF7vqudS5UZYKvyKxZ2jxQrYmpC6d989f-TZxm8zyqd4lWk2wH6vqSldoy-4C_zdedkNu85vItopinQzUb7CFZeXc21RMwx0VwPswY80tWMA6GrKlq4=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/yRI2oAVXSj_i_zno7zsMV9q1yRo3u2HGNiWqHkzuu9Too_8S5PN4hoKCe2NqZfI0HxhgRSqJzbVZt4e76fh0gAPOgxaEJ7EStGzrh6aEPQ1W0Uxdy-WRd2s5VreE6GjprLtBDryRggI=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/EAUsWdF3VkttA069IZKDAT_n26pfsrxnlXLlsCpa0kPSCV0rkdUZhGkU6Y6qgBq5BMQyofsV7__Vlc4D-nUJez8vv2FZ8_cfI3hvxdfnH5Mdw2UfYF_i-PWciruJxbFF4I51qHRVErc=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/Ue6JOpElhnqZp_V82BLQOaiPSV_BWoklwDSb_GmeJikcrGo2Tj0ECVewMhR_NjctWA_g6YI4CK19ImS9BHM3LzkDSZLUqbceC33iwa-zpYaoBCHK8tWfIZytQ3F_DdXAWfRjpbzEtas=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/RoSjBKeR7J_LQ8B-Sc94TvkZfOsdK21NsVSNU_2D7vLV4UqohmUwom4CPZDI7XFHLGCvRUwxhaQmsw4eaGDn5jvpo0C4qaNaJp7BvUuML1SVzuIeZaaeq0lVc-MxScR4Uw6NoTPYolg=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/HruieqI6RUL1AP_BY7KXEmSFHQIY-Ylr6T1xmClEmfum_EzxXq1OSUHYgdAYjcrkztakwx6w6PgTRySfcOMlMk_s0EV4gnbR6bly4YyYAzd1IRpXXH59JsaPPJUHUkwfBk8ebqDK_as=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/GcbpO_MOcdUBZatqV_svzCuwr1j-csGiusA9sGFD0iCcRfUBtGBEJMfhsNEh-58uQQ-VXgheVbjgnRaukIEMq3p5_AYR2qApj77vru4mOVjoS1BEhzyBwpHmQAeWrXZyztEoOhMQ0IY=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/Dd0-u5NKh-dgs604DL0_LX7XDmqA6wG3h2pLM9MTc59zKzkHQ6RtkW0pfBHdYiKGyxxMA0XIzSE3kyl-0Eig2cZJztIDQ0pqvFfVgYHnX5CJAnIT1ug9FMjwmv5T4lzfCeDaB4M8XB0=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/Erman66YZm6Zfl8Wb7izcKWopktiiECuqEvqEXcQaE1SAguiClaymReGDOjTwjmJJMe1lwBkZn7bv95CtHRSm3BoDft-QFFWoc8e-2wFuLkmaadEEkym_vyeMFQ7Q4Q4r2CgBLWlusY=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/bFpdsSbWl-oKwMhhfvsrGJumxMjahXsyp-tgWHwuJIP9TqLbw5S9hbVFm0fU1Rth_o38gRixNQFZccRWp9uLnZOBcyqM65zyBaLBGr0HycTvGQUndv74nHDQwGJkqeOyLFF9a-ibhUY=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/5YmIy1FSL_zuTK7SJkKo_IIiwPev6ayXLABpvVVQRXLHvM5mrnpjG_1RZyuO_PdB6lcDOkpWhOJdEbfIoEcLESO7-y2G6z_JzpkatJa9bfGFOxuIqbjWmyhDtj7hm71QmkYxMlbIygE=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/fZY_qQg6TErC6D0erJH8e5ygiYHc2EoRljNC2MRc3N2_n8DBRJKMgREr2J8dfUx4BPc2NB_DSqNvRdeKbnusV_poWRLH2bgni35nrl_ReGTH2ZS-35xUbu4elsZsPmaXaEvVLNR_140=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/rkNxL22PgfAt628-ctfT4E9br3gB6OI30jMhzT6keWiQf3HL_oRGtRwjqZ_7eAv_LIBylNNk_EZ2csUw9FVmi9A7mN9ejcJSwiOFYTzxohfcpKj_sTfsroPd4Aj1W3GjqDTwXAUClII=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/XDzaR423pUTp9QNMa6hioLYLplTATdFWIFiZ55jRTfn0dtjaAlrlKBPl4AVZxs8r9e4c5bsozUfz1hsUNeHr_DQoprmyITob67YlmZR0T0OuI9q2pnPyW5X-jQqNEGVabtLN0A6uhKI=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/J7C4qX9wviHw24GoqvEbME2iXVkMvhYXMzaoiQxHHX5n4SAfyu2ArHag3_ssL6vkuh8WcYm1Er9GvUGedQAhdl3MsqadAGJ64KxruQ_kJgQKBKZOF8tqCIGhGYALgzknd-zY2JGhQmw=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/0zAWoS7efMLlEeXXQ39lnuUzHYI-Y3ejU7xiB680IvQRccS60bUiNkE1C-dljlqKZxrvs8C3qva6xa1Z4p-LoooABdRegGFw5KWREUXshDTwZO_W-6qNiP0Ioju4wYFEKEpBD18QMrc=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/5WuvCmgvWVn90WKTEcA7EhwfpMfGq5JFzlr4mHbIpA9BbAH7t2ewrP8f6b3s2c-8j9KUJ9mOHq7DnRuYb2Yp41fRlkA_vZPT5umOD-GxWvSUNMmBloKop9J3DwYp7vkayPqo_H0feco=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/TD-b4ZT3lqhPksvi7HCy6hrXVoTnqV-Rt2lNm6nffQ0VsUmfh_OP_jF3yy1lQ7Ps3oUWmsv7VW7IGuBn9sq9gXf3nmHK3Aw7FQcOGehD9dZ01lTqE8HHCAJ8-70vaS0f1JtIPVsJ70M=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/8ygI_HvZYIm1AU-UrDP6DD11X1-dwk1qDbhoygnc348JxYGwZ_R7gLtmqART1f17ursj3sIe7PXNkyeGSQp3-IRy2ptBe62JADrUqPwc38zRwhqde5z7eGdGcP0bQhEdSGi6jMo0a7Y=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/mUohv-4l9TW6p5SfipfordkMBLaMtow-6SOU68pOWTuGZLjPMkgv0VDCd8tlLf2h3lJs3r7GOTv3SF-gHlmDbTgITEwbAEzlzXOC5h3lMJpOtPi5WUbVNv2cTwQscudiRif4vWtVRkk=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/-rjDT5-P9IEbyCWu60uv1beinlUli9yGm2fIGJfYi4pqha4UUcnJviEdOGNkqBEfSvESa5Mt5DJQ_paeT2t-4Mm8w4z_Ue2M1meIYoDfd4FiSL7tp2r2wESP9FrPqP2-i41GwgzZyzo=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/bHT-hAWx80ZZ4yI0_gkNr8y578GfUtZYxDGA1hoVbC2s_pV1HAl2UyhWerChXHLmdgqs4meXWcMPIKB4wHFPCsSSIK_TDNjcRVfgeXYrLw4-fnUAbyBEmJbbnGnrnLUi3-hETnDmJBw=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/sKNTpikOKMvLQlHGPlVjk1NAa1wBXeFqcC2SANRg0lGFngDHG_aXeYqL_ekCO8IMAw8l81wwy7lmVFDPmQ4tTHV68jpKoPYVocDCZUsfAy-91XUFOfm7K85pRzfmUHDo64hVXKM4n00=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/pzot_xgaB6ZQSMHAjRtNmsCgqH-k6jurukXC4UMlF2D5C4inkx-DiPW6Qb_1JYCRCqEsd5p7MMp0ghs4iYCSVvyoxJbkXdH2BW01oecv5mZxJF3_x2mTE008qoy_DMU-WbGtD6TAKGw=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/9EhDCVE5V831OsG90EzAkg5LplTb3lE06NBnldVqfIu-Fouw_LXCsrNR_TZR4Ky0ODGCGTsLAqbCEF--RiWrUAqj_LRMhZrPYaPSC0XGjs0yv2eCHXTH5NdZd5STR_0KJRtE5rux2QA=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/Z6ce5UOPt3B1u5OjPDluHNLfH-RI_6QEAUFeBSbiThUHfKzGd-vuoHmyFVbkGE2IXyiLad-s36xc1qWf1ILGT3MosHOf0dwRiOYlXC5CmgP6KeRYcNAu-rkorWkSy60mMzEoJVuUwnk=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/MpqxluO8ccw6APzJRKtnErV8DL36_m5Uhym9vhZtMeDzGn70TB98_3i7P1ktEUoL7xY7xa0kAu0T_WfzaMdQ3NxsF343ieMhuB4OHzc4vWBM0ZNVEADo4AgZGxCJNhy8bAt0fj3sDio=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/1cQVQVeguttEZIwl_wZPJ0Hh2gijuKBVKXIpKV0C594VsG1xI43k9yCGnFlYdWTLixXDVt0-c-BbEVbk4phgfQsNOV5bUBNwrkK992xEHruJLk6JaPpMxGUhOeOkvCtVPDku5oGT0U4=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/Bf-LknryNSQjFvdwtFP0C-dslMTg-K17QCIoYL-n7WvDDvmb3FMLd2kNQdEyDzYX_9iI5zKfWqTJ6X11saEh-H_bdYtHHjbCe8U8YyYUOIbaDudluT0cSyLshftliveKxKYnxw4O4uY=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/GSJ0u-L-K9GY5q0gcVhQxAo3F5PCx143FDbKnRTVOC9PM8mE-pSWmuAZVJQZwb-K5LQRA4-lRC-usQfg66XFk_MpQ2oVxcNuFRVTD8kPmpP2H6DW9EX2jx0XCILLSa6sx3-X-IAYSMo=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/0FSPnDGuM9lZUA8RSJ6gwnHkNAKkJFQjufvG48bubx72XX0N3GCbnGzwhGYPJ3fsQx35nxm9vtKb5fj7BGaLIyBppSTWJLk5HTFAHP92lRWu3aZpd6doNcdfsu8hPWz8puFi8UjRHvs=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/1eYW_hUh5aEWdC_z7u6OTbBxvBQq0G0QwF4Yqh6mAwRARrTCwxil0hUDuUrEJPhMLsg2uxY4mwFxF0LDCKsMem-Dc-naFbdUWIdOo-ywYxgnWQb62S1zIvgNzQV5X_roUjxsn1owmQE=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/v6Ajt-BK_73gsK__uFUUvzxfN-LhGr2I0XKbIlT5WgVRJWW7biE8PewJdUUoBIx0fUmuLt2ZppIpWFjga6ZoXamHO5prjNdOJ0q5r2xMv0n6uZ9i_P0MFNEONilk5BAjdt-Z0_TmOh0=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/n2hZt9Nw_aMaL604XWsFjVNKqIVYGQOsZRAfhT1hVLtnyEAAXU3SMI7TCGe2GQGpKv18UX6TSk0PGgiCLhhybCOz5raReuBnqXrCHc2irsCjcuGCKVKf9-ak8PIzLHMSjfhocmGUwYU=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/Dy9qMksS18cQFgW27bRvPPNaD9sVtOSJhlbavRh3w2gFpV42-v3cX_I9LucSabNM3AmvACPafsHgpqIIi9xbjxSnKR5MB4Z30FkuQmdh8vxmYYVY8M_BOuAkqKlBfo5c6_cXt_i-qAg=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/m1MViUUZfgxRIxET7c6QiC1dH8lDuKWH97ev0k5CSPHeK60OD93d-2QtrPtYvBH9xvQ8bin27Us2lT96pSpK-LVPNYOBxkOEayT8wKP42x7NSnUlb50oGJqiWFvXGaRQkjPJ81w0dVE=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/UZ49_k41NI6E7x6etdqPvuhvQWOKlU67NXDrxwwQTY-UERkFJJ2dFfe6fMzm_c8EiuxqxANJVvI-Y3FB_IIvrv9-hE1z88OWzppYFPTZ792m6PsnDMa5WGxH2wipeKlgMMngmsezLBg=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/wngZIsuDX0uS03h6gnOM7rK-J_aW_v5bLKl7Ft7eWAsMxzYTk29VBpIGZe7c9vAm3dgFqgEzqcphaIOK72qxMMrhbI81Dq0__lpk8voxmZch4Amrb5Cjz2MmpDF13wlmdI7kSZpmc-M=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/QpXeMREL-VCx_LhY0J_GLWKP2_hFDGOckVjFRlHTZCeX47f-JpIsQ99BYL4rllpdu_nSz_C5H12CS4Qu1XyqpsVJJQr2ZECPx23SF8jjgxvDq94fg7OESxQHPLShzoDY1riI2h1x36o=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/E3dlyzZzW7cKw5wAX8uIE_-B2DswLZNj8Z5gS6KBWlKzQE6bLwlDNg2AzuJpW83G4Kxluam-gfxdgqnQ52i6g3-h9ILOoEMXjb5SSvOF5ykBybwvDd78nSItGCyEvwf8rLMvvz8A0yg=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/Y-IR4rTBXnFGO0q1AKoMLEgupeGKZcOtNBkDX8wfWOMaz9Vapk3jMo9_CebYOWnkSf-XW_Sk8wHd8JsHvIf_GkGnFyNXhdrQauH5YExRBq50pnlqskgs2jmg8S7xo3U5c9CutSjyQZ0=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/fX70e_DyWjFb621j2HkJcWud4p2hUmAAr2oqG9RtpNsFsatG8rLMnmZNyCTHSRdJJm_SaeIWZ5RJOrQgOBUN9JVyfm8ZSQJvd5PLnIq9lTl6fTKCZYzkQ3s0f7qzyNv0Ldkdw_MTlT8=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/5yPqPmdgstj6jY8yUraEAWpm1KgK6rlYmm1wip2mjxFsV8Lg4E6fhYZzLa26n02zz6LhCXL3zcqvRSqwyItRpeHBjXJMYu4NCLc4WLQXpKwM-H6RX2Rw7k1y_hhcJl2aM6avDkruvYs=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/6YHDWaCUlYyq-cN2ezHI-OySMSk5ydjGEabKvicsSfoqpVdb4eIijQmavBwlcV4fgsHa2XwPiMASW_ifPVHOTL6KiUTLSPqtz0LvVbV8vY5kQHzI6WeJsj2Sz1099KVD29GHrvRujG8=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/9Kdo-tDBLM8tYgUOsOkuIYpeeCYYupDsPCiEdEP66x18tFv2-f-BNu06jjFDcRVCu_9dQ5R-WSI2pCfgxznlMFA91IJe5ExtoCJ1OMjLu_9y57nLh1tZzK7kUmMrar55z7eqabP0hag=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/OYDOXyBAcCew19kaIVwhl7ev1ebyjRGjbXOZE6Th70-pTIQHbgwlovg1cjmc1IfSlhi_akjwP3cbJmj18T6-qM985C7EPXriAvZwHoC2WoklxS0ThmNFNVM4v3Wo8HfAyhF6BQt95Ts=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/8KBsmsOlzG8N5l68wtJiqk3FX92Etv_2-STGVfsMOwSvF2S5n1BPcl1vAruIm9_y-ZMG9vllTdDqLxmDj7f2bjAgH_7gYrbmrG8av0G2WgBqNmI5O7BAcdKVmRRXcpGMTzJmmOTQv_o=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/Rj7yYBNMWDC3tMNFxImUPCCV47M-8zPYnbSR41YIp4kw4B-GsOeaOPOfjXLCjFzz4OXEp_BxHt9Fd2VD6EEg9d3JsVeNYXY6dTOBKkNw5qYOEk83cCukH5tBvEuV0yt-RPJflKu9oK4=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/WalDQkjOmBoEQfCtFRnbLQrghW89Bx6sU47SZ35cRFUlGFzx_FhL9wWYCjh6JQcBM2enOixyoDTc2Ln7MTf0NRTqmHkdCsN6gTC01Y0p66YA6zpzYgBuUcpa3plhGbuzlL9_lmtRpCY=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/bCNTQNsrQKOs8FmgfYvhQfwb9FtkZ1Uv7sdkztdOeV-H3EFApuCMgC6yxjJlCFHNhs7jD_rdfAWiEc-BO6dIDsHl1PALB8QN7LqgycqDqhho4PvN7_8tAvojixLW6VEAi2xlmthIYq4=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/5qmd-X2yNcAo3sJfhZnlI8DOdrgl2BwVA0WQ-UyWxG2PyGfIaEGhZpumQ8fgrU8fytik3aAoH-jsQH5lhEbCCr07QGemsMe2K6g5H4sISKTzYJ9zBmGpi2hrN9EtszHjX0g7MHuQwPs=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/Q6EQ1frKYkHOXkCk2Jk4jp585cIZBu26d7kDTq-iheaYp8cDTeEoc14vNXiubauqF7NboBgEYytr0-px_D2xXJukHFnvm1evNrsuiegsM9PbUtuImDtQ9dA9-woVPtZ3PViwEtwZjAM=w1920-h1080"></object>
    <object data="https://lh3.googleusercontent.com/TXxf3MuKm9dIkCIiqfFlh7KvuWLA1Aun5ZW900i82CozpMRJhNPb-FwgjDYbjafpmCLJxXcY73aPjOVY_jvKhZOoj9ltCSoETrSuyTjkhWrB2PV8H-rUetAXMR54jVPBZCbRmrPeIhk=w1920-h1080"></object>
  </div>

  <!--
  {% for dog-picture in dogs.images %}
    <div class="item">

      <span class="project-title">
        {% if dog-picture.image %}
      
        <a href="{{site.baseurl}}/assets/images/dogs/{{ dog-picture.image }}" target="_blank">{{ dog-picture.title }}</a>
        
        <p text-align="text-center">
          <img src="{{site.baseurl}}/assets/images/dogs/{{ dog-picture.image }}" alt="Image goes here..." class="dog_img">
        </p>

        {% else %}
        {{ dog-picture.title }}
        {% endif %}
      </span>

    </div>//item
  {% endfor %}
  -->

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-video fa-stack-1x fa-inverse"></i>
    </span>
    Videos!
  </h2>
  <p>
    <div class="intro">
      We also like to make videos of them!
    </div>
  <iframe class="dog_video" src="https://www.youtube.com/embed/05xKnCTQ_7Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>

</section><!--//section-->
{% endif %}
