{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <!-- <a href="{{ site.baseurl }}/"><h1 class="name">{{ sidebar.name }}</h1></a> -->
    <a href="{{sidebar.homepage}}"><h1 class="name">{{ sidebar.name }}</h1></a>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.resume %}
  <div class="education-container container-block">
    <a href="{{ site.baseurl }}/assets/docs/{{ sidebar.resume }}">
      <h2 class="container-block-title">
        Resume
      </h2>
    </a>
  </div>
  {% endif %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}

  <div class="education-container container-block">
    <a href="timeline.html">
      <h2 class="container-block-title">Giaze Timeline</h2>
    </a>
    <h5 class="meta">A timeline depecting events in lives of OMMG (Osaze, Matcha, Mango and Gia)</h5>
  </div>

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
