---
import { Icon } from 'astro-icon/components';
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li>
        <a class="py-3 text-base flex items-center gap-3" id="home" href="/">
            <Icon name="lucide:home" class="w-5 h-5" />
            Home
        </a>
    </li>
    <!-- <li>
        <a class="py-3 text-base flex items-center gap-3" id="cv" href="/cv">
            <Icon name="lucide:user" class="w-5 h-5" />
            CV
        </a>
    </li> -->
    <li>
        <a class="py-3 text-base flex items-center gap-3" id="projects" href="/projects">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: currentColor;">
                <path d="M20 6h-3V4c0-1.103-.897-2-2-2H9c-1.103 0-2 .897-2 2v2H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2zM9 4h6v2H9V4zM4 8h16v11H4V8z"></path>
                <path d="M6 12h4v2H6zm5 0h3v2h-3zm4 0h3v2h-3z"></path>
            </svg>
            Projects
        </a>
    </li>
    <!-- <li>
        <a class="py-3 text-base flex items-center gap-3" id="blog" href="/blog/">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: currentColor;">
                <path d="M6 22h15v-2H6.012C5.55 19.988 5 19.805 5 19s.55-.988 1.012-1H21V4c0-1.103-.897-2-2-2H6c-1.654 0-3 1.346-3 3v14c0 1.654 1.346 3 3 3zM5 8V7c0-.551.449-1 1-1h13v12H5V8z"></path>
                <path d="M8 6h9v2H8zm0 4h9v2H8zm0 4h6v2H8z"></path>
            </svg>
            Blog
        </a>
    </li> -->
    <li>
        <a class="py-3 text-base flex items-center gap-3" id="contact" href="/contact">
            <Icon name="lucide:mail" class="w-5 h-5" />
            Contact
        </a>
    </li>
    <li>
        <a class="py-3 text-base flex items-center gap-3" id="gamedev_blog" href="https://oshears.github.io/osgames/">
            <Icon name="lucide:gamepad-2" class="w-5 h-5" />
            Game Dev Blog
            <Icon name="lucide:external-link" class="w-4 h-4" />
        </a>
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
