---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport" />
    <title>Giaze Timeline</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="assets/css/main.css">
  </head>

  <body class="timeline-body">
      {{ content }}
  </body>
</html>